<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>Layout</title>
    <!--bootstrap-->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <!--angular-->
    <script type="text/javascript"
            src="/static/js/angular.min.js" charset="UTF-8"></script>
    <script type="text/javascript">
        var mainApp = angular.module('mainApp', [])
            .constant('VERSION', '1.0')
            .config(function (VERSION) {

            })
            .run(function ($rootScope) {
                $rootScope.version = 3.0;
            });


        mainApp.config(['$locationProvider', function ($locationProvider) {
            // $locationProvider.html5Mode(true);
            $locationProvider.html5Mode({
                enabled: true,
                requireBase: false
            });
        }]);
    </script>
    <script type="text/javascript" charset="UTF-8">
        function back() {
            window.history.back(-1);
        }
    </script>
</head>
<body ng-app="mainApp">
<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
          <!--  <a class="btn btn-default" href="#" th:href="@{/}" target="_self">短信管理页面 </a>-->
        </div>
    </div>
    <h1 layout:fragment="header">
        <a class="btn btn-default" th:href="@{${'/'}}" target="_self"> 首页 </a>
        <a class="btn btn-default" th:href="@{${'/channel'}}" target="_self"> 通道管理 </a>

    </h1>
    <br/>
    <div layout:fragment="content">短信管理-内容页面</div>
    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="navbar-header">
            <a href="##" class="navbar-brand">© Copyright 2009-2017. 短信管理平台-版本号 v1.0.1</a>
        </div>
    </div>
</div>
</body>
</html>
